{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fioulmarket - Test</h1>

    <div class="gallery cf">
        {% for content in contents %}
            <div>
                <img src="{{ content.image }}" title="{{ content.link }}"/>
            </div>
        {% endfor %}
    </div>
{% endblock %}