{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oups, une erreur est survenue.</h1>

    <p>
        Contactez l'administrateur <a href="mailto:nassim.bougtib@hotmail.com">BOUGTIB Nassim</a> pour résoudre rapidement le problème.
    </p>
{% endblock %}